
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
 font-family: yekan,sans-serif;
 direction: rtl;
}


a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: yekan;
  src: url('/BYekanv2.0/BYekan.woff');
  font-display:block;
}

.hiden{
  display: none
}

.hamber-top,.hamber-mid,.hamber-bot{
  width:32px;
  height:2px;
  background:white;
  position:absolute;
  top:15px;
}

.hamber-mid{
  transform:translateY(7px);
}
.hamber-bot{
  transform:translateY(14px);
}

.open{
  transform:rotate(90deg)
}

.open .hamber-top{
  transform:rotate(45deg) 
}
.open .hamber-mid{
  display:none
}
.open .hamber-bot{
  transform:rotate(-45deg) 
}

.close .hamber-bot{
  transform:rotate(0deg) translateY(14px) 
}
.close .hamber-mid{
  display:block
}
.close .hamber-top{
  transform:rotate(0deg) 
}

@tailwind base;
@tailwind components;
@tailwind utilities;